{% extends "base.html" %}  


 {% block title %} About Cantor College   {% endblock %} 
 {% block content %}    
 <div class="aboutus-grid">
    <div class="aboutus-header">
        <h1>Life in cantor college</h1>
        <p>Pioneering the future through practical education and digital innovation.</p>
    </div>

    <div class="mission-grid">
        <h2>Our mission</h2>
        <p>Cantor College is dedicated to providing...</p>
    </div>

    <div class="content-area">
        <h3>A Brief History</h3>
        </div>

    </div> 

    
    <footer class="about-footer">
        <p>Wanna find us?<a href="{{ url_for('main.aboutUs') }}">Find_us</a></p>
    </footer>

{% endblock %}

 




