{% extends "base.html" %}
{% block content %}
<main class="policy-page">
    <div class="policy-header">
        <h1>College Policies & Legal</h1>
        <p>Essential documents for students, staff, and visitors at Cantor College.</p>
    </div>

    <div class="policy-grid">
        <div class="policy-card">
            <h3>Student & Resource Policies</h3>
            <ul>
                <li>
                    <a href="{{ url_for('static', filename='documents/Library_rules.pdf') }}" target="_blank">
                        Library and Resource Centre Rules (PDF)
                    </a>
                </li>
            </ul>
        </div>

        <div class="policy-card">
            <h3>Academic Policies</h3>
            <ul>
                <li>
                    <a href="{{ url_for('static', filename='documents/Admission_Policy.pdf') }}" target="_blank">Admissions Policy</a>
                </li>
               
            </ul>
        </div>

        {% if session.get('user_name') %}
        <div class="policy-card staff-accent">
            <h3>Staff Resources</h3>
            <ul>
                 <li>
                    <a href="{{ url_for('static', filename='documents/Staff_handbook.pdf') }}" target="_blank">Staff Handbook</a>
                </li>
               
            </ul>
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}