{%extends "base.html" %}  
{% block title %}  
{% endblock %}    
{% block content %}  
<main>
    <h1>Create an Account</h1>

    {% if success %}
        <div class="success">
            <strong>Success!</strong> {{ success }}
        </div>
    {% endif %}

    {% if error %}
        <div class = "error">
            <strong>Error:</strong> {{ error }}
        </div>
    {% endif %} 


<div class = "register-container">   
    <div class = "register-box">
<h2> Join cantor college </h2> 
<p>Create your  student account  </p>  
<div class="password-requirements">
        <p>Your password must meet the following criteria:</p>
        <ul>
            <li>At least <strong>8 characters</strong> long</li>
            <li>Contain at least <strong>one number</strong> (0-9)</li>
            <li>Contain at least <strong>one uppercase letter</strong> (A-Z)</li>
            <li>Passwords <strong>must match</strong> in both fields</li>
        </ul>
    </div>
<form action = "/register" method = "POST"> 
    <div class = "form-group"> 
        <input = "text" name = "first_name" placeholder ="First Name" required> 
        <input type= "text" name  = "last_name" placeholder= "Last name" required> 

    </div> 
    <input type="text" name ="username" placeholder = "Username" required> 
    <input type = "email" name= "email" placeholder = "Email Address" required> 
    
    
    <input type = "password" name = "password" placeholder = "Password" required> 
    <input type = "password" name = "password_confirmation" placeholder = "Confirm Password" required> 
    
    <button type = "submit" class = "register-btn">Create account</button>
    

</form>

    </div> 
</div> 




{% endblock %}

