<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Cantor College{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="{{ url_for('static', filename='JS/app.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/desktop.css') }}">
</head>

<body>

<header class="cantor-header">
    <div class="logo-group"> 
        <a href="{{url_for ('main.home')}}">
        <img class="logo" src="{{ url_for('static', filename='Images/logo.png') }}" alt="Cantor College Logo">
        </a> 
         <h3 class="text-colour motto">Where dreams turn into reality</h3>
    </div>  
   


    <nav class = "mainNav"> 
        <div class = "searchContainer"> 
        <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search.." title="Type in a category"> 
        </div>
        <ul class="nav-list">
            <li><a href="/">Home Page</a></li>
            <li><a href="/register">Register Page</a></li>
            <li><a href="/login">Login Page</a></li>
            <li><a href="/courses">Courses</a></li> 
            <li><a href="/aboutUs">About us</a></li>
        </ul>
    </nav> 

    
</header>

<div class="main-content">
    {% block content %}{% endblock %}
</div>

<footer>
    {% include 'partials/footer.html' %}
</footer>

</body>
</html>