/* styling stuff */  

@font-face {
    font-family: "Oswald Custom";
    src: url(../Fonts/Oswald-SemiBold.ttf)  format('truetype'); 
    font-weight: 600; 
    font-style: normal;
}


.cantor-header{ 
    background-color: red; 
    padding: 20px;
} 
.text-colour{  
    font-family: "Oswald Custom", sans-serif;
    text-align: center; 
    color:  white; 

} 
.nav-list{  
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    gap: 40px; 
    
   

} 
.nav-list a { 
    text-decoration: none; 
    color: white; 
    font-family: "Oswald Custom", sans-serif;  
    transition:all 0.5s ease-in-out
   
} 

.nav-list a:hover { 
    text-decoration: none; 
    color: white;  
    background-color: black;
    
    cursor: pointer;
   
}